* {
  background-color: antiquewhite;
  background-position: center;
  margin: 2px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
:root {
  --primary-color: #e8d9ce;
  --secondary-color: #b7b7a4;
  --tertiary-color: #ddbea9;
}
/*NAVIGATION STYLE*/
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background: var(--primary-color);
}
.container h1 a {
  font-weight: bolder;
  font-size: 40px;
  background-color: var(--secondary-color);
  margin: 30px;
  padding: 40px;
  border-style: solid;
  border-radius: 25px;
  flex: 0 0 300px;
  box-shadow: 10px 10px 5px #aaaaaa;
}

.container ul {
  list-style: none;
  margin: 0px;
  padding: 35px;
  overflow: hidden;
  background-color: var(--primary-color);
}
.container li {
  float: left;
  position: relative;
}
.container a {
  display: block;
  color: #1e1b18;
  font-size: medium;
  font-style: oblique;
  text-decoration: none;
  background-color: var(--secondary-color);

  padding: 20px;
  border-style: solid;
  border-radius: 25px;
  flex: 0 0 300px;
  box-shadow: 10px 10px 5px #aaaaaa;
}

/* change link color to black on hover*/
.container li a:hover {
  background-color: #cb997e;
}
.container h1 a:hover {
  background-color: #cb997e;
}
.contact a:hover {
  background-color: #cb997e;
}

/*ABOUT ME BIO STYLES*/
.section-title-primary-border {
  font-size: 65px;
  color: var(--secondary-color);
  margin-bottom: -27px;
  padding: 0 69px 0px 207px;
  border-bottom: 3px solid var(--secondary-color);
  border-color: var(--primary-color);
  display: inline-block;
}
.about-me {
  align-items: center;
  padding-top: 20px;
  text-align: center;
  justify-content: center;
  border-radius: 750px;
  line-height: 1.3;
  border-bottom: var(--tertiary-color);
  overflow: auto;
  justify-content: space-between;
  justify-content: space-around;
}

.bio p {
  border-style: solid;
  border-width: 1px;
  border-radius: 25px;
  padding: 10px;
  flex: 0 0 300;
  box-shadow: 10px 10px 5px #6b705c;
  line-height: 1.5;
  color: #1e1b18;
  font-size: 12pt;

  background-color: var(--primary-color);
}
.bio h3 {
  background-color: var(--tertiary-color);
  text-align: center;
}

.bio h4 {
  font-weight: bolder;
}

/*PORTFOLIO STYLE*/

.work h3 {
  font-size: 65px;
  color: var(--secondary-color);
  margin-bottom: -27px;
  padding: 0 69px 0px 207px;
  border-bottom: 3px solid var(--secondary-color);
  border-color: var(--primary-color);
  display: inline-block;
}

.gallery {
  margin: 30px;
  padding: 40px;
  border-style: solid;
  border-radius: 25px;
  flex: 0 0 300px;
  box-shadow: 10px 10px 5px #6b705c;
}
.gallery:hover {
  background-color: #cb997e;
}
.gallery-2 {
  margin: 30px;
  padding: 40px;
  border-style: solid;
  border-radius: 25px;
  flex: 0 0 300px;
  box-shadow: 10px 10px 5px #6b705c;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 10px;
}
.gallery-3 {
  margin: 30px;
  padding: 40px;
  border-style: solid;
  border-radius: 25px;
  flex: 0 0 300px;
  box-shadow: 10px 10px 5px #6b705c;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 10px;
}
.bottom-left {
  border: #747578;
  background-color: var(--primary-color);
}

.contact h3 {
  font-size: 65px;
  color: var(--secondary-color);
  margin-bottom: -27px;
  padding: 0 69px 0px 207px;
  border-bottom: 3px solid var(--secondary-color);
  border-color: var(--primary-color);
  display: inline-block;
}

.resume h3 {
  font-size: 65px;
  color: var(--secondary-color);
  margin-bottom: -27px;
  padding: 0 69px 0px 207px;
  border-bottom: 3px solid var(--secondary-color);
  border-color: var(--primary-color);
  display: inline-block;
}
.resume {
  margin: 30px;
  padding: 40px;
  border-style: solid;
  border-radius: 25px;
  flex: 0 0 300px;
  box-shadow: 10px 10px 5px #6b705c;
}
.resume:hover {
  background-color: #cb997e;
}
.footer h3 {
  font-size: 65px;
  color: var(--secondary-color);
  margin-bottom: -27px;
  padding: 0 69px 0px 207px;
  border-bottom: 3px solid var(--secondary-color);
  border-color: var(--primary-color);
  display: inline-block;
}

.contact ul {
  list-style: none;
  margin: 30px;
  padding: 40px;
  overflow: hidden;
  background-color: var(--primary-color);
}
.contact li a {
  display: block;
  padding: 20px;
  color: #1e1b18;
  font-size: large;
  font-style: oblique;
  border-radius: 5px;
  flex: 0 0 300px;
  box-shadow: 10px 10px 5px #6b705c;
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  .container {
    display: grid;
    flex-direction: row;
  }
  .about-me {
    display: block;
    flex-direction: row;
  }
  .gallery {
    display: grid;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 15px;
  }
  .gallery img {
    width: 700px;
  }
  .gallery-2 {
    display: grid;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 15px;
  }
  .gallery-2 img {
    width: 700px;
  }
  .gallery-3 {
    display: grid;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 15px;
  }
  .gallery-3 img {
    width: 700px;
  }
}

@media screen and (max-width: 575px) {
  .container {
    flex-direction: column;
    justify-content: center;
    background: var(--secondary-color);
  }
  .about-me {
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 10px;
  }
  .gallery {
    display: grid;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 15px;
    background-color: antiquewhite;
  }
  .gallery img {
    width: 300px;
  }
  .gallery-2 {
    display: grid;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 15px;
    background-color: antiquewhite;
  }
  .gallery-2 img {
    width: 300px;
  }
  .gallery-3 {
    display: grid;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 15px;
    background-color: antiquewhite;
  }
  .gallery-3 img {
    width: 300px;
  }
  .resume {
    display: grid;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 15px;
    background-color: antiquewhite;
  }
  .resume img {
  }
}
